bundle/
executable/
src/
test/
assets/
tsconfig.json
tsconfig.build.json
nest-cli.json
lyricstify.tape

.releaserc.json
.prettierrc
.eslintrc.json
.editorconfig
esbuild.json

.github
.husky

*.tsbuildinfo
repl.*
